/* responsive */

/* extra small device */
@media only screen and (max-width: 600px) {}

/* small device */
@media only screen and (max-width: 768px) {
  section {
    margin-bottom: 4rem;
  }

  .category__grid {
    grid-template-areas: "top top" "left left" "right right";
  }

  .category__item {
    padding-top: 40%;
  }

  .category__item>* {
    opacity: 1;
  }

  .category__border {
    width: 80%;
    height: 80%;
  }
}

/* medium device */
@media only screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .header__content nav {
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 50vw;
    z-index: 1000;
    background-color: var(--color-white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: left 0.3s ease-in-out;
  }

  .header__content.show-menu nav {
    left: 0;
  }

  .header__content nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header__content nav ul li {
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
  }

  .btn-open-menu,
  .btn-close-menu {
    display: block;
    padding: 1rem 2rem;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
  }

  .btn-open-menu {
    padding: 1rem;
  }

  .hero__swiper {
    height: 65vh;
  }

  .hero__content {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-end;
  }

  .hero__content>div {
    width: 100%;
  }

  .hero__img {
    height: 35vh;
    text-align: center;
  }

  .hero__img img {
    max-height: 100%;
  }

  .hero__txt {
    height: max-content;
    margin-top: 2rem;
  }

  .hero__txt h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .hero__txt p {
    margin-bottom: 1rem;
  }

  .footer__col {
    margin-bottom: 2rem;
    width: 33%;
  }

  .footer__col:nth-child(1) {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }
}

/* responsive */